.yalc/
.yarn/
dist/
deps/
lib/
node_modules/

*.log
yalc.lock
**/install-state.gz

# Ignore NAPI build artifacts.
build-tmp-napi-v*/

# Ignore the src, binding, scripts of tfjs-node-gpu since those are copied over
# when building.
/tfjs-node-gpu/src
/tfjs-node-gpu/binding
/tfjs-node-gpu/scripts
/tfjs-node-gpu/binding.gyp

